:root {
	/* Fonts */
	--title-font: "Mohave", sans-serif;
	--body-font: "Open Sans", sans-serif;

	/* Colors */
	--red: hsl(0, 100%, 65%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-image: url("./wood.jpg");
	position: relative;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: start;

	&_item {
		display: flex;
		padding: 1rem;
	}
}

@media (min-width: 40rem) {
	.cards_item {
		width: 50%;
	}
}

@media (min-width: 56rem) {
	.cards_item {
		width: 33.3333%;
	}
}

.card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&_image {
		max-height: 250px;
	}

	&_content {
		padding: 26px 16px 16px;
		overflow: hidden;
	}

	&_btn {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 12px;
		color: var(--red);
		font-family: var(--body-font);
		float: right;
		margin-top: 10px;
		font-weight: bold;
		// letter-spacing: 1px;
	}

	&_title {
		font-family: var(--title-font);
		// letter-spacing: 2px;
		// margin-bottom: 20px;
		font-size: 28px;
		text-transform: uppercase;

		&_price {
			color: var(--red);
			// margin-left: 20px;
		}
	}

	&_text {
		font-family: var(--body-font);
		font-size: 14px;
		// max-height: 75px;
		overflow: hidden;

		p {
			margin: 14px 0 0;
		}
	}

	.card_title,
	.card_text {
		line-height: 24px;
	}
}

.note {
	color: hsl(197, 3%, 46%);
	font-family: var(--title-font);
	display: inline-block;
	margin-top: 5px;
}
